[package]
name = "tf2monitor"
version = "0.1.0"
edition = "2021"

[dependencies]
regex = "1.10.4"
regex_static = "0.1.1"
bus = "2.4.1"
once_cell = "1"
chrono = "0.4.38"
fs-err = "2.11.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

log = { version = "0.4.21", features = [
    "max_level_debug",
    "release_max_level_off",
] }

simple_logger = { version = "5.0.0", default-features = false, features = [
    "colors",
] }

eframe = { version = "0.27.2", default-features = false, features = [
    "glow",
    "default_fonts",
] }

egui_extras = { version = "0.27.2", default-features = false, features = [
    "http",
    "image",
] }

image = { version = "0.24", default-features = false, features = ["jpeg"] }

reqwest = { version = "0.12.4", features = ["blocking", "json"] }
